language: php

php:
  - 7.3
  - 7.4
  - 8.0

before_script:
  - composer self-update
  - composer install
  - git config --global user.email "scrutinizer-ci@github.com"
  - git config --global user.name "Scrutinizer-CI"

script: phpunit
