language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

before_script:
  - composer self-update
  - composer install
  - git config --global user.email "scrutinizer-ci@github.com"
  - git config --global user.name "Scrutinizer-CI"

script: phpunit
